<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Check System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Vehicle Check System</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="{{ url_for('citizen_login') }}">Citizen Login</a></li>
                <li><a href="{{ url_for('police_login') }}">Police Login</a></li>
                <li><a href="{{ url_for('citizen_register') }}">Citizen Register</a></li>
                <li><a href="{{ url_for('police_register') }}">Police Register</a></li>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
