{% extends "base.html" %}
{% block content %}
<h2>Police Dashboard</h2>
<form action="{{ url_for('check_vehicle') }}" method="POST">
    <label for="vehicle_number">Vehicle Number:</label>
    <input type="text" name="vehicle_number" required>
    <label for="license_check">Driving License:</label>
    <select name="license_check" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <label for="rc_check">RC:</label>
    <select name="rc_check" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <label for="insurance_check">Insurance:</label>
    <select name="insurance_check" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <label for="pollution_check">Pollution Check:</label>
    <select name="pollution_check" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <button type="submit">Check</button>
</form>
{% endblock %}
