{% extends "base.html" %}
{% block content %}
<h2>Police Register</h2>
<form action="{{ url_for('register_user') }}" method="POST">
    <input type="hidden" name="role" value="police">
    <label for="identifier">ID Card Number:</label>
    <input type="text" name="identifier" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
</form>
{% endblock %}
