{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Admin Dashboard</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Test Date</th>
                    <th>Test Time</th>
                    <th>Status</th>
                    <th>Assign Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.testDate }}</td>
                    <td>{{ user.testTime }}</td>
                    <td>{{ user.status }}</td>
                    <td>
                        <form action="/assign_role/{{ user.id }}" method="POST">
                            <div class="form-group">
                                <select name="role" class="form-control">
                                    <option value="user">User</option>
                                    <option value="agent">Agent</option>
                                    <option value="admin">Admin</option>
                                    <option value="police">Police</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Assign Role</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
