<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}book slot{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Date and Time</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .form-group { margin-bottom: 15px; }
        .form-group label { display: block; margin-bottom: 5px; }
        .form-group input { width: 100%; padding: 8px; box-sizing: border-box; }
        button { padding: 10px 15px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; }
        button:hover { background-color: #0056b3; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Book Test Date and Time</h2>
        <form action="/book_date_time/{{ user_id }}" method="post">
            <div class="form-group">
                <label for="testDate">Test Date:</label>
                <input type="date" id="testDate" name="testDate" required>
            </div>
            <div class="form-group">
                <label for="testTime">Test Time:</label>
                <input type="time" id="testTime" name="testTime" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock %}