<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .form-group { margin-bottom: 15px; }
        .form-group label { display: block; margin-bottom: 5px; }
        button { padding: 10px 15px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; }
        button:hover { background-color: #0056b3; }
        .profile {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }
        .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .username {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('profile') }}" class="profile">
            {% if profile_pic_url %}
                <img src="{{ url_for('static', filename=profile_pic_url) }}" alt="Profile Picture" class="profile-pic">
            {% else %}
                <img src="{{ url_for('static', filename='uploads/profile_pics/default_profile_pic.jpg') }}" alt="Default Profile Picture" class="profile-pic">
            {% endif %}
            <span class="username">{{ username }}</span>
        </a>
    </nav>
    <div class="container">
        <h2>Welcome, {{ username }}</h2>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Phone Number:</strong> {{ phone }}</p>
        <div class="form-group">
            <button onclick="window.location.href='/apply_for_dl'">Apply for DL</button>
        </div>
        <div class="form-group">
            <button onclick="window.location.href='/rto'">RTO Dashboard</button>
        </div>
        <div class="form-group">
            <button onclick="window.location.href='/status'">Check Application Status</button>
        </div>
        <div class="form-group">
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>
    </div>
</body>
</html>
{% endblock %}
