<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .profile {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }
        .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .username {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav>
        <!-- other nav items -->
        <a href="{{ url_for('profile') }}" class="profile">
            {% if current_user.profile_pic_url %}
                <img src="{{ url_for('static', filename=current_user.profile_pic_url) }}" alt="Profile Picture" class="profile-pic">
            {% else %}
                <img src="{{ url_for('static', filename='uploads/profile_pics/default_profile_pic.jpg') }}" alt="Default Profile Picture" class="profile-pic">
            {% endif %}
            <span class="username">{{ current_user.username }}</span>
        </a>
    </nav>
    <div class="container">
        <h2>{{ current_user.username }}'s Profile</h2>
        <!-- additional profile information here -->
    </div>
</body>
</html>