<!-- templates/rto_dashboard.html -->
{% extends 'base.html' %}

{% block title %}RTO Dashboard{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTO Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        button {
            padding: 10px 15px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>RTO Dashboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Aadhaar Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Test Date</th>
                    <th>Test Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <td>{{ app.aadhaar_number }}</td>
                    <td>{{ app.name }}</td>
                    <td>{{ app.email }}</td>
                    <td>{{ app.phone_number }}</td>
                    <td>{{ app.address }}</td>
                    <td>{{ app.testDate }}</td>
                    <td>{{ app.testTime }}</td>
                    <td>
                        <form action="/rto/update_status" method="post" style="display:inline;">
                            <input type="hidden" name="app_id" value="{{ app._id }}">
                            <button type="submit" name="status" value="Accepted">Accept</button>
                        </form>
                        <form action="/rto/update_status" method="post" style="display:inline;">
                            <input type="hidden" name="app_id" value="{{ app._id }}">
                            <button type="submit" name="status" value="Rejected">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

{% endblock %}

