<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book Driving License Appointment</h1>
    <form action="{{ url_for('book_appointment') }}" method="post">
        <input type="text" name="name" value="{{ user_data['name'] }}" readonly>
        <input type="email" name="email" value="{{ user_data['email'] }}" readonly>
        <input type="text" name="phone" value="{{ user_data['phone'] }}" readonly>
        <input type="text" name="address" value="{{ user_data['address'] }}" readonly>
        <select name="rto_office" required>
            <option value="">Select RTO Office</option>
            <option value="RTO Office 1">RTO Office 1</option>
            <option value="RTO Office 2">RTO Office 2</option>
        </select>
        <input type="date" name="slot_date" required>
        <input type="time" name="slot_time" required>
        <button type="submit">Book Appointment</button>
    </form>
</body>
</html>
