<!-- templates/dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .form-group { margin-bottom: 15px; }
        .form-group label { display: block; margin-bottom: 5px; }
        button { padding: 10px 15px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; }
        button:hover { background-color: #0056b3; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ username }}</h2>
        <div class="form-group">
            <button onclick="window.location.href='/apply_for_dl'">Apply for DL</button>
        </div>
        <div class="form-group">
            <button onclick="window.location.href='/rto'">RTO Dashboard</button>
        </div>
        <div class="form-group">
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>
    </div>
</body>
</html>
