<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment History</title>
</head>
<body>
    <h1>Your Appointment History</h1>
    <ul>
        {% for appointment in appointments %}
        <li>{{ appointment.slot_date }} {{ appointment.slot_time }} - {{ appointment.status }}</li>
        {% endfor %}
    </ul>
</body>
</html>
