<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aadhaar Verification</title>
</head>
<body>
    <h1>Enter Aadhaar Number</h1>
    <form action="{{ url_for('send_otp') }}" method="post">
        <input type="text" name="aadhaar_number" placeholder="Aadhaar Number" required>
        <button type="submit">Send OTP</button>
    </form>
</body>
</html>
