<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTO Officer</title>
</head>
<body>
    <h1>Approve or Reject Appointments</h1>
    <ul>
        {% for appointment in appointments %}
        <li>
            {{ appointment.name }} - {{ appointment.slot_date }} {{ appointment.slot_time }} - {{ appointment.status }}
            <form action="{{ url_for('update_status', appointment_id=appointment._id) }}" method="post">
                <select name="status">
                    <option value="under review">Under Review</option>
                    <option value="approved">Approved</option>
                    <option value="rejected">Rejected</option>
                </select>
                <button type="submit">Update Status</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
