<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter OTP</title>
</head>
<body>
    <h1>Enter OTP</h1>
    <form action="{{ url_for('verify_otp') }}" method="post">
        <input type="text" name="otp" placeholder="OTP" required>
        <button type="submit">Verify OTP</button>
    </form>
</body>
</html>
